<section class="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 ">
        <div class="brown-rectangle">
          <h1 class="logo">BAKERY<span>.</span></h1>
          <div class="about-text">
            <div class="about-paragraph fade-in">
              <p>
                <span>We are thrilled to announce the grand opening of Sweet Delights Bakery, a 
                  haven for all dessert lovers and baking enthusiasts. Located in the heart of 
                  the city, our bakery aims to bring a touch of sweetness and culinary delight 
                  to every customer.</span>
              </p>
            </div>
      
            <div class="about-paragraph fade-in">
              <p>
                <span>At Sweet Delights Bakery, we take immense pride in crafting and delivering 
                  the finest assortment of delectable baked goods. Our team of skilled pastry 
                  chefs and bakers work tirelessly to create a mouthwatering array of cakes, 
                  pastries, cookies, and more. Using only the freshest and highest quality 
                  ingredients, we strive to offer our customers an unforgettable experience with 
                  every bite.</span>
              </p>
            </div>
      
            <div class="about-paragraph fade-in">
              <p>
                <span>Step into our cozy and inviting space, where the aroma of freshly baked goods 
                  will welcome you with open arms. From classic favorites to innovative creations, 
                  our extensive menu caters to all tastes and preferences. Indulge in our luscious 
                  chocolate cakes, delicate macarons, flaky croissants, and melt-in-your-mouth 
                  cookies.</span>
              </p>
            </div>
      
            <div class="about-paragraph fade-in">
              <p>
                <span>Step into our cozy and inviting space, where the aroma of freshly baked goods 
                  will welcome you with open arms.</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/images/about_us1.jpg" alt="About Us Image" class="img-fluid">
      </div>
    </div>
  </div>
</section>