<div class="commit">
    <h2 class="title">Why Choose ‘BAKERY.’?</h2>
    <hr/>
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-4 rectangle">
            <img src="assets/images/delivery-truck.png" alt="Commit Icon" class="commit-img">
            <p class="commit-text">Guaranteed doorstep delivery, right on the same day</p>
        </div>
        <div class="col-md-4 rectangle">
            <img src="assets/images/gift-box.png" alt="Commit Icon" class="commit-img">
            <p class="commit-text">Carefully packaged, neat upon reaching the customer's hands</p>
        </div>
        <div class="col-md-4 rectangle">
            <img src="assets/images/customer-support.png" alt="Commit Icon" class="commit-img">
            <p class="commit-text">Supporting and listening to customer feedback</p>
        </div>
      </div>
    </div>
</div>
  
