<div class="best-seller">
  <h2 class="title">Best Sellers</h2>
  <hr/>
  <div class="carousel" #carousel>
    <button class="carousel-btn prev" [disabled]="slideIndex === 0" (click)="prevSlide()">
      <span class="carousel-btn-icon">
        <img src="assets/images/left-arrow.png" alt="Previous">
      </span>
    </button>

    <div class="carousel-inner" #carouselInner>
      <div class="carousel-item" *ngFor="let product of displayedProducts; let i = index;">
        <div class="card" (mouseenter)="showAddToCart(i)" (mouseleave)="hideAddToCart()">
          <div class="card-image">
            <img src="{{ product.image }}" alt="{{ product.title }}">
            <div class="overlay-container">
              <div class="heart-icon" *ngIf="hoverIndex === i">
                <img class="cart-icon" src="assets/images/heart.png" alt="Cart" (click)="addToFavorites(product)">
              </div>
              <div class="overlay" *ngIf="hoverIndex === i" (click)="addToCart(product)">
                <span class="text" ><span>ADD TO CART</span></span>
                <img class="cart-icon" src="assets/images/cart-o.png" alt="Cart">
              </div>
              <div class="overlay" *ngIf="hoverIndex === i" (click)="goToProductDetail(product)">
                <span class="text"><span>DETAIL</span></span>
                <img class="cart-icon" src="assets/images/eye.png" alt="Detail">
              </div>
            </div>
            <div class="card-info">
              <h3 class="card-title">{{ product.title }}</h3>
              <hr/>
              <p class="card-price">{{ product.price }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="carousel-btn next" [disabled]="slideIndex === maxSlideIndex" (click)="nextSlide()">
      <span class="carousel-btn-icon">
        <img src="assets/images/right-arrow.png" alt="Next">
      </span>
    </button>
  </div>
</div>
