<section class="category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/images/category1.png" alt="Category 1" style="width: 700px; height: 500px; float: right;">
            </div>
            <div class="col-lg-6">
                <div class="description-o">
                    <h3 class="product-name">BIRTHDAYS & SPECIAL OCASSIONS</h3>
                    <hr/>
                    <p class="product-description">Baked goods for breakfast, lunch, dessert, afternoon snack, late night snack — and everything in between.</p>
                    <button class="product-button" routerLink="/menu">BROWSE</button>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="description-t">
                    <h3 class="product-name">CAKE & FRENCH PASTRIES</h3>
                    <hr/>
                    <p class="product-description">Baked goods for breakfast, lunch, dessert, afternoon snack, late night snack — and everything in between.</p>
                    <button class="product-button" routerLink="/menu">BROWSE</button>
                    </div>
              </div>
            <div class="col-lg-6">
              <img src="assets/images/category2.png" alt="Category 1" style="width: 700px; height: 500px;">
            </div>
        </div>
    </div>
</section>
  
